openapi: 3.0.0
info:
  title: InfluencEye API Documentation
  version: 1.0.0-oas3
  termsOfService: 'https://influenceye.com/legal/terms-of-use/'
  contact:
    name: Support
    email: support@influenceye.com
    url: 'https://influenceye.com/demo/'
  description: |-
    # Description
    InfluencEye API provides discovery and analytics for social accounts on Instagram, Youtube, Twitter, and Twitch. There are about 10M+ such accounts as at February 2020 in the InfluencEye database.

    This is what you need to start using it:
    1. Understand your API quota depending on your agreement with InfluencEye;
    2. Receive API key from InfluencEye team;
    3. Read this document to learn how to integrate the API into your systems.

    # Quota and Limits
    Analytics API and Discovery API have separate limits and are tracked differently.

    Usage of Analytics API depends on your agreement with InfluencEye. Typically, we offer packages of profiles, e.g. 1,000 or 10,000 or even 100,000 profiles. You can buy as many packages as you want and use them within a year. The more profiles you buy, the cheaper is price per profile.

    With each profile request you can either:
    - get profile performance and audience data via **/profile/findById** or **/profile/findByUsername** methods, or
    - force immediate update of the profile or import new profile via **/profile/forceUpdateById** or **/profile/forceUpdateByUsername** methods;
    - *Note:* You can use methods **/profile/statusById** and **/profile/statusByUsername** as a free check of whether profile exists in our database and when it was last updated.

    Analytics API also has an alternative billing when you pay only for unique profile requests (and don’t pay for recurrent requests to the profiles requested within the last 6 months). Please contact us at **info@influenceye.com** for more details.

    Discovery API has a flat price per month for unlimited searches. But since **/search** and **/searchAdvanced** methods return only basic profile’s stats, you’d need to additionally buy Analytics API.

    To check your current quota please use free **/status** method.

    Rate limit of Analytics API and Discovery API is 40 requests per minute.
    # Requests
    The API can be accessed over HTTPS, with data returned in JSON format. Discovery API supports POST requests (search filters are part of request). Analytics API and status API  support GET requests (you pass all parameters as query parameters).

    The following methods are supported:
    1. **Search** among millions of accounts using -- ***simple*** and ***advanced*** versions;
    2. Get **profile** analytics by ***platform/channel ID*** or ***username***
    3. Send profile for immediate **update** (or **import** new profile) by ***platform/channel ID*** or ***username***;
    4. Get profile’s **last updated time** by ***platform/channel ID*** or ***username***;
    5. Get API **status** and **quota**.

    # Authentication
    Each API request must have apiKey parameter added.

    Otherwise, you’ll get Forbidden 403 response.

    Parameter apiKey is given to each API client and must be kept in secret.
servers:
  - url: 'https://app.influenceye.com'
paths:
  /api/v1/status:
    get:
      tags:
        - Status
      summary: getAccountStatus
      operationId: getAccountStatusUsingGET
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStatus'
              examples:
                Example:
                  value:
                    profilesViewed: 5
                    totalViewProfileLimit: 10
                    newViewProfilePeriodStartsAt: '2020-12-13 16:16:08 UTC'
                    profilesForceUpdated: 8
                    totalForceUpdateProfileLimit: 10
                    newForceUpdateProfilePeriodStartsAt: '2020-12-13 16:16:08 UTC'
                    searchesPerformed: 3
                    searchesLimit: 10
                    newSearchPeriodStartsAt: '2020-12-13 16:16:08 UTC'
                    periodInDays: 365
        '400':
          description: |-
            Bad Request

            Messages:
            - Missing parameter 'apiKey'- API key is missing
            - Invalid path: /api/v1/xxx - Unsupported API method
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: "Missing parameter 'apiKey'"
        '403':
          description: |-
            Forbidden

            Messages:
            - Invalid API key - API key is unknown or blocked
            - Quota limit has been reached - Your quota limit has been reached, so you are not able to request or update new profiles until the end of period
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Invalid API key
        '500':
          description: |-
            Internal Server Error

            Messages:
            - Server error. Try again later. - Server error
      deprecated: false
      description: |-
        Get your API quota status using the following GET request

        Profile status is being updated each 10 minutes
      security:
        - API Key: []
  /api/v1/searchAdvanced:
    post:
      tags:
        - Search
      summary: searchAdvanced
      operationId: searchUsingPOST
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAdvancedResponse'
              examples:
                Example:
                  value:
                    count: 1
                    page: 1
                    total: 1
                    network: instagram
                    profiles:
                      - id: '470989603'
                        userName: vikingsphotog
                        fullName: Andy Kenutis
                        link: 'https://www.instagram.com/vikingsphotog'
                        picture: 'https://instagram.fadb2-2.fna.fbcdn.net/vp/e8...cdn.net'
                        verified: true
                        isBusinessAccount: true
                        locationShowName: 'Minneapolis, MN, United States'
                        generalStatistics:
                          engagementRate: 1.8272452099999998
                          engagementRateLevel: 45.5445544554
                          mediaCount: 4330
                          mediaCountPerPeriod: 344
                          engagementsPerPost: 1129
                          viewsPerVideo: 8548
                        audienceStatistics:
                          followers: 61787
                          following: 1358
                          followersGrowthRate: 0
                        recentImages:
                          - imageUrl: 'https://scontent-dfw5-1.cdninstagram.com..7DC64'
                            link: 'https://www.instagram.com/p/B5LtIr_JGTr/'
                            likes: 1333
                            comments: 5
                        categories:
                          - Photo and Video
                          - Photography
        '400':
          description: |-
            Bad Request

            Messages:
            - Missing parameter 'apiKey'- API key is missing
            - Invalid path: /api/v1/xxx - Unsupported API method
            - Method 'GET' is not supported. Supports only [POST]' - You must make request using POST
            - JSON parse error - JSON with input parameters has invalid parameters or invalid format
            - Parameter 'aaa' has invalid value 'xxx' - Invalid query parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: "Missing parameter 'apiKey'"
          headers: {}
        '403':
          description: |-
            Forbidden

            Messages:
            - Invalid API key - API key is unknown or blocked
            - Quota limit has been reached - Your quota limit has been reached, so you are not able to request or update new profiles until the end of period
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Invalid API key
        '404':
          description: |-
            Not Found

            Messages:
            - No profile with id/username=xxx - Account or channel doesn’t exist in the InfluencEye database
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: No profile with id/username=xxx
        '500':
          description: |-
            Internal Server Error

            Messages:
            - Server error. Try again later. - Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Server error. Try again later.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAdvancedRequest'
            examples:
              Example-1:
                value:
                  network: instagram
                  sortBy: followers
                  location:
                    - country: US
                      subdivision: '00'
                      city: United States
                      showName: United States
                      featureCode: PCLI
                  contacts:
                    - email
                  language:
                    - en
                  gender: female
                  postingFrequency:
                    - day
                  followers:
                    from: 100000
                    to: null
                  audienceLanguage:
                    - en
                  page: 1
              Example-2:
                value:
                  network: instagram
                  query: beauty+photographer
                  sortBy: followers
                  location:
                    - country: US
                      subdivision: '00'
                      city: United States
                      showName: United States
                      featureCode: PCLI
                  verified: true
                  isBusinessAccount: true
                  contacts:
                    - email
                  language:
                    - en
                  categories:
                    - photography
                  gender: female
                  postingFrequency:
                    - day
                  engagementsPerPost:
                    from: 500
                    to: null
                  viewsPerVideo:
                    from: 5000
                    to: null
                  followers:
                    from: 10000
                    to: null
                  audienceLocation:
                    - country: US
                      subdivision: '00'
                      city: United States
                      showName: United States
                      featureCode: PCLI
                  audienceGender: male
                  audienceCategories:
                    - photo and video
                  audienceLanguage:
                    - en
                  page: 1
        description: ''
      description: 'Method **/searchAdvanced** allows you to search and filter influencer profiles. It supports many more filters than **/search** method.'
      security:
        - API Key: []
  /api/v1/search:
    post:
      tags:
        - Search
      summary: search
      operationId: searchUsingPOST_1
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
              examples:
                Example:
                  value:
                    count: 9
                    page: 1
                    total: 9
                    network: instagram
                    profiles:
                      - id: '1640691155'
                        userName: girlsonglass
                        fullName: Keith
                        link: 'https://www.instagram.com/girlsonglass'
                        picture: 'https://scontent-arn2-1.cdninstagram.com/vp/fc7b1ef49aa608352e69c9972d79f8f6/5E13D4E4/t51.2885-19/s150x150/44900802_796192237386244_8714662220392300544_n.jpg?_nc_ht=scontent-arn2-1.cdninstagram.com'
                        verified: false
                        isBusinessAccount: false
                        locationShowName: ''
                        generalStatistics:
                          engagementRate: 2.0929276199999998
                          engagementRateLevel: 57.4257425743
                          mediaCount: 1505
                          mediaCountPerPeriod: 69
                        audienceStatistics:
                          followers: 710058
                          following: 346
        '400':
          description: |-
            Bad Request

            Messages:
            - Missing parameter 'apiKey'- API key is missing
            - Invalid path: /api/v1/xxx - Unsupported API method
            - Method 'GET' is not supported. Supports only [POST]' - You must make request using POST
            - JSON parse error - JSON with input parameters has invalid parameters or invalid format
            - Parameter 'aaa' has invalid value 'xxx' - Invalid query parameter
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: "Missing parameter 'apiKey'"
        '403':
          description: |-
            Forbidden

            Messages:
            - Invalid API key - API key is unknown or blocked
            - Quota limit has been reached - Your quota limit has been reached, so you are not able to request or update new profiles until the end of period
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Invalid API key
        '404':
          description: |-
            Not Found

            Messages:
            - No profile with id/username=xxx - Account or channel doesn’t exist in the InfluencEye database
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: No profile with id/username=xxx
        '500':
          description: |-
            Internal Server Error

            Messages:
            - Server error. Try again later. - Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Server error. Try again later.
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
            examples:
              Example:
                value:
                  network: instagram
                  query: beauty
                  followers:
                    from: 100000
                    to: null
                  audienceLocation:
                    - us
                    - ca
                  audienceGender: male
                  audienceLanguage:
                    - en
                  page: 4
      description: 'Method **/search** allows you to search and filter influencer profiles.'
      security:
        - API Key: []
  /api/v1/profile/statusByUsername:
    get:
      tags:
        - Profile
      summary: statusByUserName
      operationId: statusByUserNameUsingGET
      parameters:
        - name: network
          in: query
          description: Platform name
          required: true
          schema:
            type: string
            enum:
              - instagram
              - twitter
              - twitch
        - name: username
          in: query
          description: Profile’s username
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
              examples:
                Example:
                  value:
                    socialType: instagram
                    id: '145753000'
                    username: enzoknol
                    lastUpdatedTime: 1560157667000
        '400':
          description: |-
            Bad Request

            Messages:
            - Missing parameter 'apiKey'- API key is missing
            - Invalid path: /api/v1/xxx - Unsupported API method
            - Parameter 'aaa' has invalid value 'xxx' - Invalid query parameter
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: "Missing parameter 'apiKey'"
        '403':
          description: |-
            Forbidden

            Messages:
            - Invalid API key - API key is unknown or blocked
            - Quota limit has been reached - Your quota limit has been reached, so you are not able to request or update new profiles until the end of period
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Invalid API key
        '404':
          description: |-
            Not Found

            Messages:
            - No profile with id/username=xxx - Account or channel doesn’t exist in the InfluencEye database
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: No profile with id/username=xxx
        '500':
          description: |-
            Internal Server Error

            Messages:
            - Server error. Try again later. - Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Server error. Try again later.
      deprecated: false
      description: |-
        Check if profile exists and when it was updated last time. This call doesn’t affect your quota, so you can use it as a free check of profile’s status.

        Note: This method works with @username (Instagram, Twitter, Twitch). To get profile’s status by Youtube profile’s status, please use method **/profile/statusById**
      security:
        - API Key: []
  /api/v1/profile/statusById:
    get:
      tags:
        - Profile
      summary: statusById
      operationId: statusByIdUsingGET
      parameters:
        - name: id
          in: query
          description: Channel ID for Youtube and internal platform ID for other platforms
          required: true
          schema:
            type: string
        - name: network
          in: query
          description: Platform name
          required: true
          schema:
            type: string
            enum:
              - instagram
              - twitter
              - youtube
              - twitch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
              examples:
                Example:
                  value:
                    socialType: youtube
                    id: UC-lHJZR3Gqxm24_Vd_AJ5Yw
                    username: PewDiePie
                    lastUpdatedTime: 1556878184000
        '400':
          description: |-
            Bad Request

            Messages:
            - Missing parameter 'apiKey'- API key is missing
            - Invalid path: /api/v1/xxx - Unsupported API method
            - Parameter 'aaa' has invalid value 'xxx' - Invalid query parameter
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: "Missing parameter 'apiKey'"
        '403':
          description: |-
            Forbidden

            Messages:
            - Invalid API key - API key is unknown or blocked
            - Quota limit has been reached - Your quota limit has been reached, so you are not able to request or update new profiles until the end of period
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Invalid API key
        '404':
          description: |-
            Not Found

            Messages:
            - No profile with id/username=xxx - Account or channel doesn’t exist in the InfluencEye database
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: No profile with id/username=xxx
        '500':
          description: |-
            Internal Server Error

            Messages:
            - Server error. Try again later. - Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Server error. Try again later.
      deprecated: false
      description: |-
        Check if profile exists and when it was updated last time. This call doesn’t affect your quota, so you can use it as a free check of profile’s status.

        Note: This method works with channel ID (Youtube) or internal platform ID (Instagram, Twitter, Twitch). To get profile’s status by @username, please use method **/profile/statusByUsername**
      security:
        - API Key: []
  /api/v1/profile/forceUpdateByUsername:
    get:
      tags:
        - Profile
      summary: forceUpdateByUsername
      operationId: forceUpdateByUsernameUsingGET
      parameters:
        - name: network
          in: query
          description: Platform name
          required: true
          schema:
            type: string
            enum:
              - instagram
              - twitter
              - twitch
        - name: username
          in: query
          description: Profile’s username
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForceUpdateResponse'
              examples:
                Example:
                  value:
                    status: success
                    message: User added to update queue. Wait 10-15 minutes before getting result
        '400':
          description: |-
            Bad Request

            Messages:
            - Missing parameter 'apiKey'- API key is missing
            - Invalid path: /api/v1/xxx - Unsupported API method
            - Parameter 'aaa' has invalid value 'xxx' - Invalid query parameter
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: "Missing parameter 'apiKey'"
        '403':
          description: |-
            Forbidden

            Messages:
            - Invalid API key - API key is unknown or blocked
            - Quota limit has been reached - Your quota limit has been reached, so you are not able to request or update new profiles until the end of period
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Invalid API key
        '404':
          description: |-
            Not Found

            Messages:
            - No profile with id/username=xxx - Account or channel doesn’t exist in the InfluencEye database
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: No profile with id/username=xxx
        '500':
          description: |-
            Internal Server Error

            Messages:
            - Server error. Try again later. - Server error
      deprecated: false
      security:
        - API Key: []
      description: |-
        If you’re not satisfied with the time of profile last update, you may use **/profile/forceUpdateByUsername** to send it for immediate update. Also with this method you can import a profile which is missing on the platform.

        Note: This method works with @username (Instagram, Twitter, Twitch). To update/import Youtube profiles using channel ID, please use method **/profile/forceUpdateById**

        Profile will be sent to update/import queue only if you have enough quota per current period.
  /api/v1/profile/forceUpdateById:
    get:
      tags:
        - Profile
      summary: forceUpdateById
      operationId: forceUpdateByIdUsingGET
      parameters:
        - name: id
          in: query
          description: Channel ID for Youtube and internal platform ID for other platforms
          required: true
          schema:
            type: string
        - name: network
          in: query
          description: Platform name
          required: true
          schema:
            type: string
            enum:
              - instagram
              - twitter
              - youtube
              - twitch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForceUpdateResponse'
              examples:
                Example:
                  value:
                    status: success
                    message: User added to update queue. Wait 10-15 minutes before getting result
        '400':
          description: |-
            Bad Request

            Messages:
            - Missing parameter 'apiKey'- API key is missing
            - Invalid path: /api/v1/xxx - Unsupported API method
            - Parameter 'aaa' has invalid value 'xxx' - Invalid query parameter
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: "Missing parameter 'apiKey'"
        '403':
          description: |-
            Forbidden

            Messages:
            - Invalid API key - API key is unknown or blocked
            - Quota limit has been reached - Your quota limit has been reached, so you are not able to request or update new profiles until the end of period
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: Invalid API key
        '404':
          description: |-
            Not Found

            Messages:
            - No profile with id/username=xxx - Account or channel doesn’t exist in the InfluencEye database
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: ''
              examples:
                Example:
                  value:
                    error: No profile with id/username=xxx
        '500':
          description: |-
            Internal Server Error

            Messages:
            - Server error. Try again later. - Server error
      deprecated: false
      description: |-
        If you’re not satisfied with the time of profile’s last update, you may use **/profile/forceUpdateById** to send it for immediate update. Also with this method you can import a profile which is missing on the platform.

        Note: This method works with channel ID (Youtube) or internal platform ID (Instagram, Twitter, Twitch). To update/import profiles using @username, please use method **/profile/forceUpdateByUsername**

        Profile will be sent to update/import queue only if you have enough quota per current period.
      security:
        - API Key: []
  /api/v1/profile/findByUsername:
    get:
      tags:
        - Profile
      summary: findByUserName
      operationId: findByUserNameUsingGET
      parameters:
        - name: network
          in: query
          description: Platform name
          required: true
          schema:
            type: string
            enum:
              - instagram
              - twitter
              - twitch
        - name: username
          in: query
          description: Profile’s username
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
              examples:
                Example:
                  value:
                    id: '204002122'
                    categories: []
                    gender: female
                    followers: null
                    followings: null
                    link: 'https://www.instagram.com/sofia_stuzhuk'
                    lang:
                      showName: Russian
                    summary: ''
                    verified: false
                    userName: sofia_stuzhuk
                    fullName: Sofia Stuzhuk
                    description: "\uD83D\uDD25МНОГОДЕТНАЯ\uD83D\uDD25ЗА РАМКАМИ СТАНДАРТОВ\uD83D\uDC79\n\uD83E\uDD30\uD83C\uDFFBРожаю Дома\nЖиву вне системы\nЛомаю стереотипы\n@if_only_wear\n⠀\nСотрудничество \uD83D\uDC49\uD83C\uDFFB @cooperation.stuzhuk\nВСЁ МОЁ\uD83D\uDC47\uD83C\uDFFB"
                    newPosts: 0
                    retweetsPerPost: 0
                    picture: 'https://scontent-dfw5-1.cdninstagram.com/v/t51.2885-19/s150x150/73157428_457343534987714_6788361493986410496_n.jpg?_nc_ht=scontent-dfw5-1.cdninstagram.com&_nc_ohc=i1l608QgUysAX9HrtVV&oh=ae86e7bb3ec3ad1a0d0bbe8464c74dac&oe=5ED19207'
                    socialType: instagram
                    lists: []
                    location:
                      country: UA
                      subdivision: null
                      city: Kiev
                    relevanceScore: null
                    influenceyeIndex: null
                    sentiment:
                      negative: 15
                      neutral: 15
                      positive: 70
                    topPosts:
                      - id: '2205985679807097970'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B6dPEm4gCxy/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/72347137_441891690088879_7227161427060429787_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&_nc_cat=107&_nc_ohc=RjJtAqu37e0AX9wBiuE&oh=af9f0babe14579158da06dc012769dfa&oe=5ECE63CF'
                        videoUrl: null
                        description: "А вот и Наш подарочек \uD83C\uDF81 на Рождество\uD83D\uDCAB\nЗнакомьтесь, новый член семейства Стужуков - Оливка (Оливия)❤️\n24.12.2019. 08:24.\n3 кг а рост не знаю какой\uD83D\uDE1D\nМы уже 7 часов как многодетные родители\uD83D\uDE48\uD83D\uDE48\uD83D\uDE48\n⠀\nВсё расскажу позже! А пока смотрите наши тёплые домашние роды в сториз❤️\n⠀\nБлагодарю Всех за Поздравления❤️❤️❤️\n⠀\nПы.сы. Вы себе даже не представляете, как сильно в этих родах мне помог мой муж❤️\n@stuzhuk_dmitriy благодарю тебя за бесценную поддержку\uD83D\uDE4F\uD83C\uDFFB❤️"
                        likes: 601843
                        comments: 41880
                        created: 1577194007000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2214088148017772945'
                        type: GraphImage
                        link: 'https://www.instagram.com/p/B66BXCcAHmR/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-dfw5-2.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/80335733_557122438203549_5572924330299974268_n.jpg?_nc_ht=scontent-dfw5-2.cdninstagram.com&_nc_cat=109&_nc_ohc=ZzsURQmw7WUAX_VfLdS&oh=7d37e0b821c40950483dff800191355f&oe=5EC68EE1'
                        videoUrl: null
                        description: "Ну, повторяем \uD83E\uDD37\uD83C\uDFFB‍♀️\nВы уже в курсе дела \uD83E\uDD17\n❤️+↗️=пол\uD83C\uDF4B\nТакой вот ребус \uD83D\uDE05\nА фото это должно быть в ленте, потому что это то самое редкое селфи и красивое\uD83D\uDE0D\uD83D\uDE0D\uD83D\uDE0D"
                        likes: 326955
                        comments: 113619
                        created: 1578159896000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2228570051974423757'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B7teKehAmTN/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://instagram.fhen2-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/81216453_1128087670856549_4576097775633109639_n.jpg?_nc_ht=instagram.fhen2-1.fna.fbcdn.net&_nc_cat=1&_nc_ohc=FNWp7Kt1W7IAX9LM1zH&oh=3469497c69354583e0e72de6220481f9&oe=5EE22F85'
                        videoUrl: null
                        description: "\uD83C\uDF38Нашей сладенькой крошке Оливушке сегодня ровно месяц!!!\uD83C\uDF38\n⠀\nВы можете в это поверить? Наша маленькая Оливьешечка, рождённая под ёлочкой\uD83C\uDF84\uD83D\uDE0D\uD83D\uDE48\nУже месячный карапузик \uD83D\uDC9E\uD83D\uDC9E\uD83D\uDC9E\nЯ уже месяц в новой роли многодетной мамы\uD83D\uDE4F\uD83C\uDFFB❤️\nИ мы все так счастливы ❤️❤️❤️\nПорадуйтесь с нами\uD83D\uDE0D\uD83D\uDE0D\uD83D\uDC9E\uD83D\uDC9E\uD83D\uDC9E\n⠀\nМы наели молочка на 1,5 килограммчика за этот месяц \uD83E\uDD2A\n4,5 килограммчика счастья \uD83D\uDE0D\uD83D\uDE0D\uD83D\uDE0D\nЛюблю свою жизнь и свою семью\uD83D\uDE4F\uD83C\uDFFB\uD83D\uDC96"
                        likes: 415001
                        comments: 13919
                        created: 1579886274000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2216022380852130047'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B7A5J1JAbD_/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-ort2-2.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/81581349_2445288762266369_2329142124008871694_n.jpg?_nc_ht=scontent-ort2-2.cdninstagram.com&_nc_cat=105&_nc_ohc=DM2Q-K6gpOMAX_akbFy&oh=9cbb030ee43abf2525c57d33795f6dc2&oe=5EC18DD4'
                        videoUrl: null
                        description: "Две сестрички❤️❤️\uD83D\uDE48\nКогда-нибудь лет через 20 они повторят такие же фото\uD83D\uDE02\uD83D\uDE0D\n⠀\nНу такие забавные❤️\nСмотрите же мои сториз?))\nОливка пока, конечно, ничего ещё не понимает:)\nА Лолка пока не понятно, что именно в этой ситуации понимает\uD83D\uDE02 Но однозначно испытывает к ляльке очень стильный интерес:))\nПостоянно крутится вокруг, не подпускает никого\uD83D\uDE02 Ну кроме меня:))) хочет потрогать, пожмякать:))))\nИ постоянно «ляля, ляля»\uD83E\uDD17\nМне кажется, у них получилась хорошая разница в 1,10 и, вероятно, они позже будут лучшими подругами \uD83D\uDE0D\uD83E\uDD17\nЯ на это надеюсь по крайней мере:)))\nЕсть у кого-нибудь дочки с подобной разницей?)\nРасскажите, как ладят!)\n⠀\nМы все, честно говоря, больше всего в этой ситуации переживали за Лолку)))) Она уж очень мамина, очень привязанная. И конечно очень бы хотелось, чтобы у нее не появлялось страхов, обид и чувства недостаточного внимания\uD83E\uDD7A\nВижу по ней сейчас, что она переживает немного. Стала после рождения Оливки ещё более моя❤️\nПостоянно меня за руку куда-то ведет даже просто, чтоб я с ней посидела\uD83D\uDE48 или подсаживается поластиться\uD83E\uDD17\n⠀\nНо в целом, пока вроде все ок и пока справляемся все дружно:)))"
                        likes: 405148
                        comments: 12595
                        created: 1578390475000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2234286998695257308'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B8ByDADgSTc/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/82625265_2511932202393497_876738854785686140_n.jpg?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=1&_nc_ohc=bIMccS8b7J0AX9tlnJP&oh=8bbdda605e0da7622c9b1871415eb05d&oe=5ED025BA'
                        videoUrl: null
                        description: "\uD83D\uDD25\uD83D\uDD25Уже увидели приятную новость в сториз?\uD83D\uDD25\uD83D\uDD25 ⠀\nПока есть возможность, хочу радовать своих активных читателей\uD83D\uDE4F\uD83C\uDFFB\uD83D\uDE4F\uD83C\uDFFB\uD83D\uDE4F\uD83C\uDFFB\nПоэтому мы с моими 10ю друзьями подготовили для Вас целых 7 ЯБЛ0K0Ф0H0B !)\nПодружись с нами!) оставляй свои заветные сердечки на наших фото в течение этой недели и жди!)\nВозможно именно тебе я (или кто-то из нас) скоро напишу в директ\uD83E\uDD2A\uD83D\uDE18\uD83E\uDD70\n⠀\nВот наши волшебники \uD83D\uDC47\uD83C\uDFFB\n@nika_viper\n@sofia_stuzhuk\n@serovski\n@zhanabylov_e\n@_verbaaa_\n@svechkorenko\n@bushe8\n@maria__way\n@tattingkate\n@keery_bery\n@sekavines\n⠀\nБлагодарю каждого за участие и поддержку моей странички \uD83E\uDD17\uD83E\uDD17\uD83E\uDD17\uD83D\uDD25\uD83D\uDD25"
                        likes: 328596
                        comments: 73654
                        created: 1580567787000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2206865541732406305'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B6gXISKApQh/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/77283420_636285973782950_4411281084945948016_n.jpg?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=102&_nc_ohc=gTGitN37oPAAX9cvJje&oh=3fe2ec9af9157e58506f61f55e1ab390&oe=5EDE136D'
                        videoUrl: null
                        description: "Как детки восприняли появление малышки и где они были во время родов\uD83D\uDCAB\n⠀\nТолько я сначала хочу отметить одну удивительную вещь!) Наши с детками даты рождения:\nЯ- 21, Лолка - 22, Дэвид - 23, Оливка 24:)) Представляете, как забавно?))))\n⠀\nНу и ещё один факт о моих родах: я рожаю детей с утра обычно\uD83D\uDE02\uD83D\uDE02\nДэвида я рожала, кажется, с 6 до 14. Лолку с 6 до 11, а Оливку с 3 до 8:)\uD83D\uDE0C\n⠀\nВсе роды Лолки Дэвид успешно проспал и проснулся как раз ровно, как я только родила\uD83D\uDE0D Ему было 2,3 и первое, что он сказал «ляля из пузика вылезла»\uD83D\uDE0D❤️\n⠀\nВ этот раз, по моим подсчётам, дети должны были спать:) Они вообще обычно в 10 встают\uD83D\uDE05 Но что-то пошло не так\uD83D\uDE05\nХотя вроде бы никто не шумел:)))\nСначала вообще, кстати, началось с того, что Лола глубокой ночью описалась\uD83E\uDD2A как раз около 4\uD83D\uDE4A Хотя она уже давно этого не делает!)) Я была поражена:) почему именно в такой момент решила:))) И я на схватках меняла ей постель\uD83E\uDD26\uD83C\uDFFB‍♀️\nВообще, они оба проспали все роды, конечно же.\nНо почему-то Дэвид проснулся и вышел прям вначале моих потуг\uD83E\uDD2A (никто не кричал, если что\uD83D\uDE0C).\nОн был очень спокоен и серьёзен. Я ему сказала, что всё хорошо, что мама рожает лялечку и скоро у него будет сестричка. Дима ему тоже что-то говорил. Он совершенно не был испуган. Отреагировал так, будто все понял и все \uD83D\uDC4C\uD83C\uDFFB и пошел сидеть на Диване рядышком\uD83E\uDD17\nВ тот момент, когда я именно вытуживала он подошёл к Диме, которого я держала за руку и стоял передо мной \uD83E\uDD17 просто спокойно наблюдал\uD83D\uDE0C поддерживал маму и ждал\uD83D\uDE4F\uD83C\uDFFB\n(Если что, я была в бассейне на коленях и малышка выныривала назад вниз и никто, кроме Джамили, подробности не видел).\nКогда Малышка родилась и начала кричать, Дэвид очень обрадовался\uD83D\uDE0D\uD83D\uDE0D был восторжен этим❤️Он ходил рядышком, смотрел, улыбался, радовался. В этот же момент, вероятно, от крика малышки, проснулась Лола\uD83D\uDE48\nДима принёс её на руках, объясняя, что происходит:)\n⠀\nНо Лола, конечно же, не поняла\uD83D\uDE02\uD83E\uDD2A\nНемного напугалась спросонья, что много людей и какой-то движ\uD83D\uDE48 поплакала, Дима успокоил \uD83E\uDD17\nЕё тоже посадили к Дэвиду на диван и тот ей сидел объяснял «Лолочка, не бойся, это мама родила сестричку. Смотри, какая маленькая ляля, это твоя сестричка»\uD83D\uDE0D\uD83D\uDE0D\uD83D\uDE0D\n⠀\nПродолжение \uD83D\uDC49\uD83C\uDFFB"
                        likes: 381590
                        comments: 18831
                        created: 1577298895000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2216935549611243437'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B7EIyL0g3et/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/81255567_199234374453799_7991955651502543654_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&_nc_cat=107&_nc_ohc=-_GABw__OOwAX_lyLHL&oh=149f2e174200bbce90870035d4a7724f&oe=5EC9B0AA'
                        videoUrl: null
                        description: "\uD83D\uDCABВОССТАНОВЛЕНИЕ ПОСЛЕ РОДОВ\uD83D\uDCAB\n⠀\nВ этом вопросе меня больше всего смущает тот факт, что большинство людей под этим подразумевают исключительно внешний фактор.\nБольшинство вопросов, которые мне задавали в беременность, звучали примерно: «как будешь приходить в форму после родов»\uD83E\uDD37\uD83C\uDFFB‍♀️\nИ большинство женщин, почему-то больше волнует, как «убрать животик», нежели, например, как вернуть мышцы тазового дна в тонус\uD83D\uDE08 и здоровье в целом\uD83D\uDE48\nИ большинство родивших в инстаграме, по моим наблюдениям, стремятся показать, как быстро они «вернулись в форму» после родов.\nОднако я хочу сделать акцент на том, что важнее «вернуть здоровье» - если это можно так назвать. И важно - не торопиться.\nФигура - это хорошо и прекрасно, но это ВТОРОСТЕПЕННО. Сначала - здоровье.\nПоэтому я пишу ВОССТАНОВЛЕНИЕ ?\uDD17\n⠀\nСложно отрицать тот факт, что беременность, безусловно очень ресурсозатратное для организма состояние.\nОрганы смещаются, матка увеличивается/растягивается, диафрагма смещается, пережимает полую вену...отсюда частенько вылазят всякие варикозы (даже геморрой), связки ослабевают (все, надеюсь, знают, что такое релаксин и когда он выделяется, правда?), ну и в принципе во всех структурах организма происходят некие изменения, которые потом должны вернуться к первичному состоянию, желательно. И этому желательно посодействовать\uD83E\uDD17\nЕсли начать геройствовать сразу же после родов и бежать на следующий же день гулять с детьми/качать пресс/ делать вакуум - можно нехило навредить.\n⠀\nЯ за грамотное восстановление. Особенно, когда роды уже не первые.\nПоэтому что важно?\n⠀\n☑️Родить естественно и с минимальной травматичностью.\n⠀\n☑️Первые дни отлежаться. По возможности, много не находиться в вертикальном положении. Дать возможность матке сократиться и органам хоть немного встать на место.\n⠀\n☑️Утягивать живот.\n‼️Вот тут важно‼️Мы утягиваем живот не для того, чтобы утянуть и сделать талию и плоский живот поскорее. НЕ ради внешних показателей!!! А ради ПОДДЕРЖКИ ВНУТРЕННИХ ОРГАНОВ!\nВАЖНО НЕ УТЯНУТЬ, А ПОДВЯЗАТЬ - понимаете разницу?)\nПоэтому я в сториз показываю именно БЕНКУНГ (его есть 2 техники(мой телеграм канал), но я выбираю узелковую).\n⠀\nПродолжение \uD83D\uDC49\uD83C\uDFFB\n#2weekspostpartum #2неделипослеродов"
                        likes: 386929
                        comments: 10666
                        created: 1578499333000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2230020862583712031'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B7yoCjMAykf/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://instagram.fhen2-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/82493364_183157263072147_134297248984234328_n.jpg?_nc_ht=instagram.fhen2-1.fna.fbcdn.net&_nc_cat=1&_nc_ohc=A5zOgNrKvyUAX-W0-Q4&oh=95669de149a24bcf3f0ed26312fe25db&oe=5EC7BE91'
                        videoUrl: null
                        description: "Да она вся сделанная!\n- недавно прочитала я в очередной раз про себя\uD83E\uDD26\uD83C\uDFFB‍♀️\n⠀\nЯ уже писала подобный пост на лайф странице, но, очевидно, он нужен и тут.\nПро «сделанную» меня\uD83E\uDD17\n⠀\nИ конечно же начну с излюбленных во всех моих Прямых эфирах и комментариях ГУБ \uD83E\uDD17\nКстати, я практически никогда не пользуюсь помадами. Если смотрели мои сториз с макияжем, то видели, что подкрашиваю только нюдовыми карандашами\uD83E\uDD17\nЯ уже год с @misstaisua - они офигенные \uD83D\uDD25\n⠀\nИ так, что с ВАРЕНИКАМИ то моими?\uD83D\uDE02\uD83E\uDD26\uD83C\uDFFB‍♀️\nА ничего. Я считаю, они идеальны;)\nРаньше я подкалывала их гиалуронкой \uD83D\uDE4C\uD83C\uDFFB\nВпервые вколола 1 мл прям за день до первого свидания с Димой)))\nИ на свидании не давала себя целовать делая вид, что приличная\uD83D\uDE02\uD83D\uDE02\uD83D\uDE02 но на самом деле не чувствовала губ вообще и не представляла, как ими управлять)))))\n⠀\nВообще, Кто имеет представление обо всём этом, знает, что первый 1 мл идет грубо говоря на увлажнение. Сильно прям погоды не меняет\uD83D\uDE0C\nМои губы стали тогда немного пухлее (хотите в сториз архивчик закину?)), но выглядели абсолютно натурально.\n⠀\nВторой раз я уколола губы месяца через 4, мне кажется, после родов Давида. Где-то 0,6 мл, мне кажется. И он тоже практически сразу ушёл\uD83E\uDD37\uD83C\uDFFB‍♀️\n⠀\nИ вот позже я познакомилась с @dr.nikrasova_beauty_salon с которой я чуть разошлась\uD83D\uDE02\uD83D\uDE02\uD83D\uDE02\nМы подкалывали мне губы иногда по чуть-чуть (типа 0,4), поэтому не могу точно сказать, сколько всего:)\n⠀\nПоследний раз я колола губы в марте 17го года!)) до беременности Лолой! И после неё доколола половину верхней губы, где была «дырка» от ранее растворённого комка \uD83E\uDD2A\n⠀\nВсё!) почему не спухают? Наверное, потому что колола много раз - фиброз \uD83E\uDD37\uD83C\uDFFB‍♀️\nБолее того, все мои знакомые сказали, что после родов они сдулись немного) а в обе беременности напухали:)\n⠀\nЧто я ещё «делала со своим лицом»?)\nУ меня пудровое напыление бровей и иногда я делаю ламинирование СВОИХ ресничек. Всё\uD83E\uDD37\uD83C?‍♀️\nВолосы свои. Зубы тоже. Но, естественно, хотя раньше я его ненавидела\uD83E\uDD2A\nВ лицо никогда ничего не колола.\nОдин раз думала сделать мезо под глаза, нужно было 8 процедур - я сделала одну и больше не стала\uD83E\uDD2A это тоже было ещё до беременности Лолой.\n⠀\nИ уж тем более я никогда себе не делала пластик ....\nПродолжение \uD83D\uDC49\uD83C\uDFFB"
                        likes: 343626
                        comments: 50804
                        created: 1580059224000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2219092299038796614'
                        type: GraphImage
                        link: 'https://www.instagram.com/p/B7LzLBQAytG/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-frt3-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/79813334_2969051116461366_6685587838176418584_n.jpg?_nc_ht=scontent-frt3-1.cdninstagram.com&_nc_cat=1&_nc_ohc=FpcbBuYe6-kAX_zqZaV&oh=b7cdb4b5f43ec15aeed1d688c8998646&oe=5EC31502'
                        videoUrl: null
                        description: "6 фактов обо мне, 1 из которых не правда\uD83D\uDE4A\nКакой - расскажу завтра в сториз\uD83D\uDE1D А пока, попробуйте угадать Вы\uD83D\uDE4B\uD83C\uDFFB‍♀️\n⠀\n\uD83C\uDF1FПосле внутриутробной остановки сердцебиения малыша во время второй беременности, ждала самопроизвольного выкидыша, вместо чистки и курса антибиотиков\uD83D\uDE4C\uD83C\uDFFB\n⠀\n\uD83C\uDF1FМне совсем не стремно есть свою плаценту, \uD83E\uDD2A\uD83E\uDD2A\uD83E\uDD2A отдала ее на капсуляцию  и из неё сделали таблетки, уникальные по свойствам \uD83D\uDE1D\n⠀\n\uD83C\uDF1FБлагодаря имбилдингу я научилась стрелять шариками своими интимными мышцамм \uD83E\uDD2A ⠀\n\uD83C\uDF1FС каждым новым парнем в своей жизни я начинала встречаться через день, после расставания с предыдущим \uD83D\uDE4A\uD83E\uDD2A\n⠀\n\uD83C\uDF1FМой сын видел рождение своей младшей сестрички и он абсолютно психически здоровый ребёнок \uD83D\uDE1D\n⠀\n\uD83C\uDF1FЯ часто чувствую себя недостаточно хорошей мамой и вопрос моего материнства болит у меня больше всего. После него - вопрос мироустройства\uD83E\uDD2A\uD83D\uDE48\n⠀\n\uD83C\uDF1FНу и последний факт, который вне игры: у меня, очевидно, оч скучная жизнь\uD83E\uDD2A я еле наскребла эти факты\uD83D\uDE02\uD83D\uDE02\nИ, кажется, самый интересный факт обо мне - то, что я не пью кофе\uD83D\uDE02\uD83D\uDE48\nУ остальных девчонок столько интересного\uD83D\uDE05 Что я даже задумалась, где свернула не туда\uD83E\uDD21\n⠀\nА в Вашей жизни происходило что-то очень интересное и необычное?)"
                        likes: 340308
                        comments: 48085
                        created: 1578756438000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2209576559969477273'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B6p_iypAqKZ/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-ort2-2.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/78721319_1389179611256794_3835975361789983613_n.jpg?_nc_ht=scontent-ort2-2.cdninstagram.com&_nc_cat=110&_nc_ohc=I4noDdMAM9QAX96cZUj&oh=79b3722ae2e0451415c05a03880490a6&oe=5EC264E8'
                        videoUrl: null
                        description: "Даже не верится, что уже скоро Новый Год, и нас уже 5\uD83D\uDE31\uD83D\uDE31\uD83D\uDE31❤️❤️❤️❤️❤️"
                        likes: 325136
                        comments: 56178
                        created: 1577622073000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                    topSponsoredPosts: []
                    locationBio:
                      country: null
                      subdivision: null
                      city: null
                    postBrands:
                      - count: 1
                        showName: hasbro gaming
                    sponsoredBrands: []
                    contact:
                      emails: []
                      phones: []
                      websites:
                        - 'https://taplink.cc/sofia_stuzhuk'
                      socialAccounts: {}
                    locationShowName: 'Kiev, Ukraine'
                    generalStatistics:
                      avgComments: 12318
                      avgLikes: 242308
                      engagementRate: 8.89815035
                      engagementsPerPost: 254626
                      totalPosts: 2458
                      percentSponsored: 0
                      groupedPosts:
                        aggregation: month
                        values:
                          - date:
                              year: 2019
                              month: 8
                              week: null
                              day: null
                            value: 12
                          - date:
                              year: 2019
                              month: 9
                              week: null
                              day: null
                            value: 20
                          - date:
                              year: 2019
                              month: 10
                              week: null
                              day: null
                            value: 27
                          - date:
                              year: 2019
                              month: 11
                              week: null
                              day: null
                            value: 21
                          - date:
                              year: 2019
                              month: 12
                              week: null
                              day: null
                            value: 31
                          - date:
                              year: 2020
                              month: 1
                              week: null
                              day: null
                            value: 22
                          - date:
                              year: 2020
                              month: 2
                              week: null
                              day: null
                            value: 7
                        startDate: 1550144282000
                        finishDate: 1581593882000
                      postsByWeekDays:
                        aggregation: day_of_week
                        values:
                          - tuesday
                          - sunday
                          - thursday
                        startDate: 1550144282000
                        finishDate: 1581593882000
                      contentStatistics:
                        all:
                          commentsCount: 1687523
                          commentsMedian: 6915
                          engagementRate: 8.89815035
                          engagementRateMedian: 8.20569612
                          engagementRateSimple: 34883705
                          likesCount: 33196182
                          likesMedian: 225169
                          likesPerPost: 242308
                          commentsPerPost: 12318
                          totalPosts: 137
                          viewsPerPost: null
                          viewsMedian: 0
                        video:
                          commentsCount: 0
                          commentsMedian: 0
                          engagementRate: 0
                          engagementRateMedian: 0
                          engagementRateSimple: 0
                          likesCount: 0
                          likesMedian: 0
                          likesPerPost: 0
                          commentsPerPost: 0
                          totalPosts: 0
                          viewsPerPost: 0
                          viewsMedian: 0
                        images:
                          commentsCount: 1687523
                          commentsMedian: 6915
                          engagementRate: 8.89815035
                          engagementRateMedian: 8.20569612
                          engagementRateSimple: 34883705
                          likesCount: 33196182
                          likesMedian: 225169
                          likesPerPost: 242308
                          commentsPerPost: 12318
                          totalPosts: 137
                          viewsPerPost: null
                          viewsMedian: null
                      dynamics:
                        totalPosts:
                          - timestamp: 1581593876000
                            value: 2458
                        commentsPerPost:
                          - timestamp: 1581593876000
                            value: 12318
                        likesPerPost:
                          - timestamp: 1581593876000
                            value: 242308
                        engagementRates:
                          - timestamp: 1581593876000
                            value: 8.89815035
                        followersCount:
                          - timestamp: 1581593876000
                            value: 2861561
                        viewPerPost:
                          - timestamp: 1581593876000
                            value: 0
                        dislikesPerPost: null
                        viewCount: null
                        likesCount:
                          - timestamp: 1581593876000
                            value: 33196182
                        dislikesCount: null
                        commentsCount:
                          - timestamp: 1581593876000
                            value: 1687523
                        tweetsPerDay: null
                        retweetsPerTweet: null
                      videoDynamics:
                        totalPosts:
                          - timestamp: 1581593876000
                            value: 0
                        commentsPerPost:
                          - timestamp: 1581593876000
                            value: 0
                        likesPerPost:
                          - timestamp: 1581593876000
                            value: 0
                        engagementRates:
                          - timestamp: 1581593876000
                            value: 0
                        followersCount: null
                        viewPerPost:
                          - timestamp: 1581593876000
                            value: 0
                        dislikesPerPost: null
                        viewCount: null
                        likesCount:
                          - timestamp: 1581593876000
                            value: 0
                        dislikesCount: null
                        commentsCount: null
                        tweetsPerDay: null
                        retweetsPerTweet: null
                      imageDynamics:
                        totalPosts:
                          - timestamp: 1581593876000
                            value: 137
                        commentsPerPost:
                          - timestamp: 1581593876000
                            value: 12318
                        likesPerPost:
                          - timestamp: 1581593876000
                            value: 242308
                        engagementRates:
                          - timestamp: 1581593876000
                            value: 8.89815035
                        followersCount: null
                        viewPerPost: null
                        dislikesPerPost: null
                        viewCount: null
                        likesCount:
                          - timestamp: 1581593876000
                            value: 33196182
                        dislikesCount: null
                        commentsCount: null
                        tweetsPerDay: null
                        retweetsPerTweet: null
                      viewPerPost: 0
                      commentsCount: 1687523
                      likesCount: 33196182
                      possibleSensitive: false
                      engagementRateMedian: 8.20569612
                      likesMedian: 225169
                      viewsMedian: 0
                      commentsMedian: 6915
                      age: 25-34
                      race: white
                      gender: female
                      imagesTotalPosts: 137
                      videoTotalPosts: 0
                      videoViewsPerPost: 0
                    audienceStatistics:
                      audienceGender:
                        male: 8
                        female: 92
                      audienceAccountType:
                        personal: 79
                        nonPersonal: 0
                        massFollower: 16
                        fakeAccount: 5
                      countries:
                        - count: 12
                          percent: 41
                          countryCode: UA
                          showName: Ukraine
                        - count: 9
                          percent: 31
                          countryCode: RU
                          showName: Russia
                        - count: 3
                          percent: 10
                          countryCode: KZ
                          showName: Kazakhstan
                        - count: 2
                          percent: 6
                          countryCode: TG
                          showName: Togo
                        - count: 1
                          percent: 3
                          countryCode: PL
                          showName: Poland
                        - count: 1
                          percent: 3
                          countryCode: TR
                          showName: Turkey
                        - count: 1
                          percent: 3
                          countryCode: UZ
                          showName: Uzbekistan
                      followers: 2861561
                      following: 9
                      topCities:
                        - count: 4
                          percent: 16
                          showName: Kiev
                        - count: 2
                          percent: 8
                          showName: Moscow
                        - count: 2
                          percent: 8
                          showName: Vinnytsya
                        - count: 1
                          percent: 4
                          showName: Almaty
                        - count: 1
                          percent: 4
                          showName: Antalya
                        - count: 1
                          percent: 4
                          showName: Aqtöbe
                        - count: 1
                          percent: 4
                          showName: Chernihiv
                        - count: 1
                          percent: 4
                          showName: Chernivtsi
                        - count: 1
                          percent: 4
                          showName: Kazan
                        - count: 1
                          percent: 4
                          showName: "L'viv"
                        - count: 1
                          percent: 4
                          showName: Lublin
                        - count: 1
                          percent: 4
                          showName: Luts’k
                        - count: 1
                          percent: 4
                          showName: Omsk
                        - count: 1
                          percent: 4
                          showName: Orsk
                        - count: 1
                          percent: 4
                          showName: Pavlodar
                        - count: 1
                          percent: 4
                          showName: Rivne
                        - count: 1
                          percent: 4
                          showName: Tambov
                        - count: 1
                          percent: 4
                          showName: Ufa
                        - count: 1
                          percent: 4
                          showName: Voronezh
                        - count: 1
                          percent: 4
                          showName: Yekaterinburg
                      audienceInterestsCategories:
                        - category: sports
                          count: 11
                          percent: 6
                        - category: arts
                          count: 3
                          percent: 1
                        - category: food and drink
                          count: 2
                          percent: 1
                        - category: lifestyle
                          count: 2
                          percent: 1
                        - category: music
                          count: 2
                          percent: 1
                        - category: pets and animals
                          count: 2
                          percent: 1
                        - category: auto
                          count: 1
                          percent: 0
                        - category: business
                          count: 1
                          percent: 0
                        - category: design
                          count: 1
                          percent: 0
                        - category: photo and video
                          count: 1
                          percent: 0
                        - category: travel
                          count: 1
                          percent: 0
                      audienceSubscribers: null
                      audienceAge:
                        25-34: 45
                        18-24: 40
                        0-17: 6
                        55-64: 0
                        35-44: 8
                        45-54: 1
                      audienceGenderExperimental:
                        male: 21
                        female: 79
                      audienceGenderAge:
                        male:
                          25-34: 33
                          18-24: 31
                          35-44: 20
                          0-17: 11
                          45-54: 5
                        female:
                          55-64: 3
                          25-34: 45
                          18-24: 42
                          35-44: 5
                          0-17: 5
                          45-54: 0
                      audienceRace:
                        white: 73
                        asian: 21
                        indian: 4
                        Other: 2
                      audienceLanguages:
                        - count: 50
                          percent: 53
                          showName: Russian
                        - count: 25
                          percent: 26
                          showName: English
                        - count: 10
                          percent: 10
                          showName: Ukrainian
                        - count: 2
                          percent: 2
                          showName: Serbian
                        - count: 2
                          percent: 2
                          showName: Tatar
                        - count: 1
                          percent: 1
                          showName: Kazakh
                        - count: 1
                          percent: 1
                          showName: Malay (macrolanguage)
                        - count: 1
                          percent: 1
                          showName: Uzbek
                        - count: 1
                          percent: 1
                          showName: Walloon
                      mergedAudienceCommentsLanguages:
                        - count: 3936
                          lang: ru
                          percent: 73
                          showName: Russian
                        - count: 526
                          lang: uk
                          percent: 9
                          showName: Ukrainian
                        - count: 340
                          lang: en
                          percent: 6
                          showName: English
                        - count: 203
                          lang: sr
                          percent: 3
                          showName: Serbian
                        - count: 96
                          lang: bg
                          percent: 1
                          showName: Bulgarian
                        - count: 55
                          lang: tt
                          percent: 1
                          showName: Tatar
                      commentsLanguages:
                        - count: 842
                          lang: ru
                          percent: 77
                          showName: Russian
                        - count: 103
                          lang: uk
                          percent: 9
                          showName: Ukrainian
                        - count: 45
                          lang: sr
                          percent: 4
                          showName: Serbian
                        - count: 24
                          lang: bg
                          percent: 2
                          showName: Bulgarian
                        - count: 14
                          lang: en
                          percent: 1
                          showName: English
                        - count: 11
                          lang: mk
                          percent: 1
                          showName: Macedonian
                      creators: 0
                      observers: 0
                    recentImages:
                      - id: '2242264052778801413'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B8eH0amghkF/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/82975655_135024621320581_681259941452734799_n.jpg?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=1&_nc_ohc=vXHK5SOVtsMAX-P43Sg&oh=1311a5fd9d90ea280ab0ba2bb97e7926&oe=5EBF0B45'
                        videoUrl: null
                        description: null
                        likes: 187479
                        comments: 40258
                        created: 1581518726000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2241600063283431076'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B8bw2GMgIak/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/84064210_136956741135993_2686821947276338765_n.jpg?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=1&_nc_ohc=-iS_r4rsmtUAX-3rrt8&oh=4784a8a64eb2f7aa146d983eec6e7ccc&oe=5EE06D43'
                        videoUrl: null
                        description: null
                        likes: 212153
                        comments: 5356
                        created: 1581439572000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2239947111112254581'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B8V5AehgiR1/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-dfw5-2.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/83368524_179982473313483_6882175282763596767_n.jpg?_nc_ht=scontent-dfw5-2.cdninstagram.com&_nc_cat=1&_nc_ohc=S8iZLPKO87cAX9ahUdF&oh=577d63214ccbfc2ebcfc0139087b03b5&oe=5ECFB5F4'
                        videoUrl: null
                        description: null
                        likes: 260065
                        comments: 12381
                        created: 1581242525000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2237241716254052851'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B8MR3zOAhHz/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/84389135_2318461411588067_8430276893806828208_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&_nc_cat=1&_nc_ohc=jj8jPtJU36sAX9ABghu&oh=beeac2db5d6db334b9de64fa8568af21&oe=5EBC0780'
                        videoUrl: null
                        description: null
                        likes: 301926
                        comments: 32475
                        created: 1580920017000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2236308093283736949'
                        type: GraphImage
                        link: 'https://www.instagram.com/p/B8I9lzEgh11/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/83203178_261399078180335_6102250098133491554_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&_nc_cat=1&_nc_ohc=BXvpmUV5z0sAX-ADljw&oh=ee1d075ed323e39c4cacaab760136481&oe=5EC99BFD'
                        videoUrl: null
                        description: null
                        likes: 287066
                        comments: 30523
                        created: 1580808720000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                      - id: '2235077663503026596'
                        type: GraphSidecar
                        link: 'https://www.instagram.com/p/B8El0sCggmk/'
                        thumbnail: null
                        duration: null
                        title: null
                        imageUrl: 'https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/83910264_490304475223861_436015419866179339_n.jpg?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=1&_nc_ohc=Gm4ezgriT4UAX8sZ0-V&oh=6effdbda201fb7ddc2fa063f37316b4d&oe=5EE2F70D'
                        videoUrl: null
                        description: null
                        likes: 288134
                        comments: 35596
                        created: 1580662042000
                        retweets: 0
                        dislikes: null
                        views: null
                        possiblySensitive: null
                    hashTags:
                      - count: 9
                        hashTag: kandimamaldives
                      - count: 8
                        hashTag: mykindofplace
                      - count: 8
                        hashTag: anythingbutordinary
                      - count: 8
                        hashTag: justplay
                      - count: 5
                        hashTag: стужук_материнство
                      - count: 3
                        hashTag: стужук_любовь
                      - count: 2
                        hashTag: асхерали
                      - count: 2
                        hashTag: стужук_садик
                      - count: 2
                        hashTag: ябысновавыбралатебя
                      - count: 2
                        hashTag: стужук_отношения
                      - count: 1
                        hashTag: ящитаю
                      - count: 1
                        hashTag: стужук_беременность
                      - count: 1
                        hashTag: 2weekspostpartum
                      - count: 1
                        hashTag: hasbrogaming
                      - count: 1
                        hashTag: ящитаю.
                      - count: 1
                        hashTag: porcupinepop
                      - count: 1
                        hashTag: стужук_роды
                      - count: 1
                        hashTag: стужук_сосаниепальчика
                      - count: 1
                        hashTag: kandima
                      - count: 1
                        hashTag: 2неделипослеродов
                      - count: 1
                        hashTag: блогеры_разоблачают
                      - count: 1
                        hashTag: стужук_прогв
                      - count: 1
                        hashTag: familylook
                      - count: 1
                        hashTag: '5.'
                      - count: 1
                        hashTag: совместныйсон
                    reachability:
                      absolute: 1960120.7238417098
                      distribution:
                        reachable: 49
                        easyReachable: 32
                        hardlyReachable: 19
                      ratio: 0.6849830298
                    audienceAnalyzed: 181
                    lastUpdatedTime: 1581593876000
                    accountType: Personal
                    type: Celebrity (1M+)
                    fakeAccountDetection: valid_account
                    following: 9
                    postsFrequency:
                      period: week
                      postNumber: 5
                    similarUsersTextIds:
                      - '2408305'
                      - '16273213'
                      - '2172049985'
                      - '18064073'
                      - '1395207601'
                      - '2060761237'
                      - '1951282732'
                      - '372502347'
                      - '2086179588'
                      - '538364825'
                      - '5593370257'
                      - '4621714099'
                      - '441674315'
                      - '2293123505'
                      - '3086299056'
                      - '2159079659'
                      - '286197680'
                      - '2428585826'
                      - '6917190306'
                      - '325735112'
                      - '232975186'
                      - '344876733'
                      - '254653239'
                      - '424488248'
                      - '1499443994'
                      - '19516100'
                      - '3042037580'
                      - '656393284'
                      - '1688094981'
                      - '247222697'
                      - '2242223802'
                      - '2976326157'
                      - '1180954092'
                      - '2258509107'
                      - '24831263'
                      - '217932432'
                      - '1314087138'
                      - '522271687'
                      - '1486052902'
                      - '6939435552'
                      - '3245712115'
                      - '248669333'
                      - '309992906'
                      - '286355130'
                      - '465452875'
                      - '1134857261'
                      - '4036145027'
                      - '275063445'
                      - '1966779941'
                      - '228143169'
                      - '1959172474'
                      - '3215749569'
                      - '1106633400'
                      - '1098033538'
                      - '316145761'
                      - '1330871550'
                      - '287528647'
                      - '5888052484'
                      - '3586837128'
                      - '199600429'
                      - '31057436'
                      - '144727037'
                      - '1475178541'
                      - '273357572'
                      - '44470093'
                      - '1546883955'
                      - '1511841067'
                      - '1418458719'
                      - '2537769110'
                      - '244649461'
                      - '385637338'
                      - '419258707'
                      - '477927888'
                      - '3779309374'
                      - '2269411834'
                      - '1539404799'
                      - '1986094571'
                      - '222239430'
                      - '1914491396'
                      - '302346520'
                      - '1005513876'
                      - '2970375683'
                      - '1574079949'
                      - '526718535'
                      - '2202716809'
                      - '1722344439'
                      - '454695375'
                      - '287821615'
                      - '1123790797'
                      - '2309746817'
                      - '4612517698'
                      - '2732515157'
                      - '1529883317'
                      - '12166173'
                      - '181493547'
                      - '526452805'
                      - '607517933'
                      - '365670243'
                      - '2262078894'
                      - '5740116046'
                    similarUsersAudienceIds:
                      - '1465210851'
                      - '3921479146'
                      - '980425160'
                      - '402430853'
                      - '3156074731'
                      - '294782580'
                      - '8372069527'
                      - '1636529219'
                      - '442233874'
                      - '2208341101'
                      - '692205811'
                      - '6929882991'
                      - '3976238357'
                      - '3636734263'
                      - '2256285199'
                      - '2934895831'
                      - '491364045'
                      - '214028809'
                      - '272415725'
                      - '1335176107'
                      - '4135156992'
                      - '765940841'
                      - '284543248'
                      - '278466781'
                      - '6786113483'
                      - '221093715'
                      - '7189130026'
                      - '226346272'
                      - '5906283930'
                      - '335392199'
                      - '3424537425'
                      - '6435391688'
                      - '243290160'
                      - '1534261324'
                      - '1989012152'
                      - '1467951221'
                      - '303287504'
                      - '2574775755'
                      - '6403465998'
                      - '2606728816'
                      - '7178195900'
                      - '6159301378'
                      - '1478067397'
                      - '4508542724'
                      - '3929208599'
                      - '2211963185'
                      - '513038529'
                      - '5438073137'
                      - '607975851'
                      - '1514797291'
                      - '1497344873'
                      - '853806460'
                      - '1475895359'
                      - '6266541319'
                      - '235222328'
                      - '2100117979'
                      - '350413152'
                      - '3224805836'
                      - '270424013'
                      - '4109665325'
                      - '4957031217'
                      - '5788044293'
                      - '3065277849'
                      - '1534792718'
                      - '2045418745'
                      - '1604612122'
                      - '36953483'
                      - '864089350'
                      - '772041367'
                      - '2759991091'
                      - '179466323'
                      - '1595260073'
                      - '2300185951'
                      - '3098944161'
                      - '1000905183'
                      - '4578648062'
                      - '1696880673'
                      - '5945103645'
                      - '348278474'
                      - '1162118905'
                      - '3892992830'
                      - '197625022'
                      - '201718325'
                      - '2047669293'
                      - '819157615'
                      - '1816611364'
                      - '2128084801'
                      - '594175251'
                      - '1005830554'
                      - '1349708666'
                      - '2485127964'
                      - '529529898'
                      - '2248971885'
                      - '5365277133'
                      - '1310590688'
                      - '182163952'
                      - '15497263'
                      - '22543344'
                      - '3769168232'
                      - '1040002028'
                    mediaCount: 2458
                    allBrandNames:
                      - hasbro gaming
                    conversationRate: null
                    langBio: un
                    createdAt: 0
                    mediaCountPerPeriod: 137
                    bioBrands:
                      hashTagBrands: []
                      textBrand:
                        brandNames: []
                    broadcasterType: null
                    streamsAnalytics: null
                    avgViewers: null
                    tweetsPerDay: null
                    retweetsPerTweet: null
                    tweetsSentiment: null
                    repliersPerTweet: null
                    contentType:
                      photo: 137
                      video: 0
                    lastTweetPosted: null
                    contentOrigin: null
                    topMentions:
                      - count: 82
                        id: '313649960'
                        screenName: stuzhuk_dmitriy
                      - count: 73
                        id: '7180979684'
                        screenName: stuzhuk_lola
                      - count: 61
                        id: '2526745265'
                        screenName: david.stuzhuk
                      - count: 21
                        id: '2925884689'
                        screenName: kandima_maldives
                      - count: 17
                        id: '1213785224'
                        screenName: wolf_loves_finist
                      - count: 14
                        id: '28296006'
                        screenName: libkos
                      - count: 9
                        id: '3320602635'
                        screenName: if_only_wear
                      - count: 9
                        id: '25960048800'
                        screenName: olivia_stuzhuk
                      - count: 8
                        id: '1700517704'
                        screenName: onishchuk_oleg
                      - count: 7
                        id: '4314950243'
                        screenName: manekenmood
                      - count: 7
                        id: '2893055331'
                        screenName: liz.parkhomchuk
                      - count: 6
                        id: '351527413'
                        screenName: aleksandra_matusenko
                      - count: 6
                        id: '475360409'
                        screenName: rixossharm
                      - count: 6
                        id: '1547698553'
                        screenName: di_helen__
                      - count: 6
                        id: '1827542370'
                        screenName: maleyphoto
                      - count: 5
                        id: '1365183318'
                        screenName: dari_co_
                      - count: 5
                        id: '1747951837'
                        screenName: rixospremiumseagate
                      - count: 5
                        id: '5876948859'
                        screenName: jamilya_rodibio
                      - count: 4
                        id: '1922563756'
                        screenName: artem_everest
                      - count: 4
                        id: '3155904201'
                        screenName: miss_tic_swimwear
                      - count: 4
                        id: '226948309'
                        screenName: maneken007
                      - count: 4
                        id: '2943991701'
                        screenName: mini_one_store
                      - count: 4
                        id: '4343281072'
                        screenName: dr.sergiienko
                      - count: 4
                        id: '6303135542'
                        screenName: sofia_stuzhuk_life
                      - count: 3
                        id: '1501554298'
                        screenName: loveandcarry.official
                      - count: 3
                        id: '917844715'
                        screenName: dashavisag
                      - count: 3
                        id: '3986566'
                        screenName: vladimirovna
                      - count: 3
                        id: '4168439823'
                        screenName: la_naturelle_boutique
                      - count: 3
                        id: '3513466335'
                        screenName: multibrend_baby
                      - count: 3
                        id: '1510946201'
                        screenName: nata_niss
                      - count: 3
                        id: '3512422038'
                        screenName: bondarenko_party
                      - count: 3
                        id: '2610718526'
                        screenName: cybex.ua
                      - count: 2
                        id: '3690176351'
                        screenName: mantaair
                      - count: 2
                        id: '1671568784'
                        screenName: mimi__book
                      - count: 2
                        id: '3858290906'
                        screenName: famo.ua
                      - count: 2
                        id: '8122976341'
                        screenName: stuzhuk_herb
                      - count: 2
                        id: '1001888440'
                        screenName: couplegoals
                      - count: 2
                        id: '3241827633'
                        screenName: smile_kiev
                      - count: 2
                        id: '8593044908'
                        screenName: moya_yalynka
                      - count: 2
                        id: '1691791227'
                        screenName: inna_making_cake
                      - count: 2
                        id: '53803958'
                        screenName: creativetravelcouples
                      - count: 2
                        id: '616354275'
                        screenName: thetravelcouples
                      - count: 2
                        id: '4483663946'
                        screenName: travel_ust
                      - count: 2
                        id: '204002122'
                        screenName: sofia_stuzhuk
                      - count: 2
                        id: '602725764'
                        screenName: zara
                      - count: 2
                        id: '7307956013'
                        screenName: blauri_com
                      - count: 2
                        id: '7146753272'
                        screenName: brandvill_orest
                      - count: 2
                        id: '6750816'
                        screenName: sashazvereva
                      - count: 2
                        id: '8304576123'
                        screenName: perlahelsa
                      - count: 2
                        id: '3574544409'
                        screenName: liiveforeverr
                      - count: 2
                        id: '4271453472'
                        screenName: loveandwildhearts
                      - count: 2
                        id: '624210315'
                        screenName: tattidesign
                      - count: 2
                        id: '2959704085'
                        screenName: couplestravelgoals
                      - count: 2
                        id: '423863418'
                        screenName: fashiomoments
                      - count: 2
                        id: '3778412202'
                        screenName: ozerova_art
                      - count: 2
                        id: '1593327597'
                        screenName: pregnantandperfect
                      - count: 2
                        id: '8789600336'
                        screenName: misstaisua
                      - count: 2
                        id: '2236167192'
                        screenName: billionwomanofficial
                      - count: 2
                        id: '5321356009'
                        screenName: sway.fam
                      - count: 2
                        id: '3434317249'
                        screenName: travel.couples
                      - count: 2
                        id: '4026527889'
                        screenName: dress_me.shop
                      - count: 2
                        id: '793793669'
                        screenName: my_little_fish_
                      - count: 2
                        id: '2288782707'
                        screenName: yuliyasagan_photographer
                      - count: 2
                        id: '2324037615'
                        screenName: by_milani
                      - count: 2
                        id: '7953770819'
                        screenName: super_pregnant007
                      - count: 2
                        id: '20557552388'
                        screenName: aviasales_ua
                      - count: 2
                        id: '246085074'
[...]
